<footer>
    <div>
        <div style="padding: 30px;">
            <div style="background: #F1F1F1 0% 0% no-repeat padding-box; border-radius: 22px;">
                <div style="padding: 20px">
                    <p style="font-weight: 100; font-size: 20px ; line-height: 37px;  font-family: Verdana; color: #8F91A4; text-align: center; line-height: 1.8">We wish you & your family a vaery healthy and prosperous life with our commitment to enable your goals.</p>
                </div>
                <div style="background: transparent linear-gradient(90deg, var(--unnamed-color-2bad90) 0%, var(--unnamed-color-00489a) 100%) 0% 0% no-repeat padding-box;
                            background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box;
                            opacity: 1;height: 70px; color: white; width: 100%; padding: 1px 0 15px 0;">
                    <p style="text-align: center; font-size: 24px;  line-height: 48px; font-family: Verdana; font-weight: 100; ">"Present shanti. Future Prashanti!"</p>
                </div>
                <div style="padding: 20px">
                    <p style="width: 418px;  font-weight: Bold; font-size: 20px ; font-family: Verdana;
                            height: 192px; text-align: center; color: #4C4C51; line-height: 1.6; ">Now, get 100% Value Back against your insurance policies via our brand partners across India and continue enjoying present, without compromising on your policy.</p>
                </div>
            </div>
        </div>
        <p style=" padding: 30px; font-weight: 100; font-size: 16px ; line-height: 37px;  font-family: Verdana; color: #9E9E9E; font-family: Verdana;"> Note: If you do not find your neighborhood store at InsurePay in, just share store name and store in-charge contact number at <a style="color: blue;">partner@myapp.in</a> along with your details to ensure we not only get your neighborhood store onboard (so that you can enjoy Premium Back there also), but you might also be eligible for a surprise reward.</p>
        <br>
        <p style=" font-size: 20px ; line-height: 37px;  font-family: Verdana; color: #232121;   padding: 30px; font-style: Italic;">Together, we can only make FUTURE better, bigger & brighter...</p>
        <br>
        <div style=" background-color: #F1F1F1; ">
            <div style="padding: 100px;">
                <img src="https://group.renault.com/wp-content/uploads/2021/03/nouveau_logo_renault_banner.jpg" alt="logo.png" height="80px" style="align-items: center; margin-left: 40px"/>
                <br>
                <p style="text-align: center">At your Service,</p>
                <p style="text-align: center">Team Customer Support @ MyApp.in</p>
                <p style="text-align: center"> Insurance bhi, Assurance bhi!</p>
                <p style="text-align: center">Email: <a style="color: blue;">hello@abc.com</a></p>
                <br>
                <div style="padding: 10px 10px 0 0">
                    <img  src="https://cdn.clipart.email/52708b58ae9321650e8ed05ea20649cd_white-instagram-logo-download-free-clip-art-with-a-transparent-_840-880.jpeg" alt="instagram-logo" height="35px" width="35px" style="padding: 23px; align-items: center; margin-left: 80px"/>
                    <img src="https://www.clipartmax.com/png/small/254-2540548_500-twitter-logo-latest-twitter-logo-icon-gif-transparent-twitter-logo-grey.png" alt="twitter-logo" height="35px" width="35px" style="padding: 23px; align-items: center;"/>
                </div>
            </div>
            
        </div>
        
        
    </div>
    
</footer>