<header>
    <div>
        <img src="https://group.renault.com/wp-content/uploads/2021/03/nouveau_logo_renault_banner.jpg" alt="logo.png" style="margin-right: 17%;" height="80px"/>
        <img src="https://cdn.clipart.email/52708b58ae9321650e8ed05ea20649cd_white-instagram-logo-download-free-clip-art-with-a-transparent-_840-880.jpeg" alt="instagram-logo" height="35px" width="35px" style="padding: 20px;"/>
        <img src="https://www.clipartmax.com/png/small/254-2540548_500-twitter-logo-latest-twitter-logo-icon-gif-transparent-twitter-logo-grey.png" alt="twitter-logo" height="35px" width="35px" style="padding: 20px;"/>
        <hr>
    </div>
</header>