<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body: {
            color: black;
        }
    </style>
</head>
<body>
    <div style="border: 1px solid black;  width: 100%">
        <div style="padding:30px;">
            {{>header}}
            <p style="font-family: Verdana;">Hi, </p>
            <br>
            <p style="font-weight: 100; font-size: 16px ; line-height: 37px;  font-family: Verdana; color: #1C1E3A; font-family: Verdana;">Thanks for registering the MyApp. Please pass below the OTP to valid you email address.</p>
            <br>
            <div style="background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box;
                        background: transparent linear-gradient(90deg, #2BAD90 0%, #00489A 100%) 0% 0% no-repeat padding-box;
                        width: 497px; height: 133px; color: white; padding: 1px 0 10px 0;">
                    <p style="text-align: center; font-weight: 100; font-size: 20px ; line-height: 57px;  font-family: Verdana; margin: 0px;">Email Validation OTP:</p>
                    <p style="text-align: center; font-weight: 100; font-size: 50px ; line-height: 57px;  font-family: Verdana;  margin: 0px;">4352</p>
            </div>
            <br>
            <br>
        </div>
            {{>footer}}
        
    </div>
</body>
</html>